# Data Analysis:
## Loading the cleaned data:

In [5]:
import pandas as pd

filepath = "../Data_set/Cleaned_Data.csv"
data = pd.read_csv(filepath)
data.head()

,Year,Month,Day,Temperature_2m,Dew_Point_Temperature_2m,Max_Temperature_2m,Min_Temperature_2m,Surface_Temperature,Wind_Speed_10m,Wind_Direction_10m,Wind_Speed_50m,Wind_Direction_50m,Surface_Pressure,Corrected_Precipitation,Relative_Humidity_2m
0,1983,1,1,5.48,-0.01,13.02,-0.81,4.48,2.43,263.62,3.73,265.12,98.23,0.11,70.38
1,1983,1,2,5.80,1.58,12.84,0.74,4.75,3.12,264.19,4.79,263.56,98.09,0.07,76.56
2,1983,1,3,5.43,3.12,11.65,0.27,4.99,3.73,212.50,6.01,212.62,98.47,0.16,84.56
3,1983,1,4,7.59,3.09,14.50,2.96,6.81,3.09,302.56,4.49,303.19,98.57,0.07,75.50
4,1983,1,5,9.02,0.41,18.82,3.52,8.19,4.40,285.00,7.34,285.31,98.22,0.00,58.75